.welcome {
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	border-style: solid;
	font-family: arial;
}

.cat {
	margin-top: 5px;
	margin-right: 225px;
	margin-left: 100px;
	margin-bottom: 20px;
	border-style: dashed;

}

.secret {
	background-image: url(secret_background.jpg);
	background-size: 800px 600px;
}

a:visited {
	color: green;
}

#special {
	font-size: 20px;
	font-weight: bold;
}

@media screen and (max-width: 400px) {
	body {
		font-size: 18px;
		font-weight: bold;
	}
}